
#header .logo img {
    max-height: 65px;
}
.p-space {
    margin: 0px 10px!important;
    text-align: justify!important;
}
.d-font-family {
    font-family: "Roboto", sans-serif, serif!important;
}
.mb-5 {
    margin-bottom: 8px!important;
} 
 #hero {
    height: 85vh!important;
}
@media only screen and (max-width: 600px) {
    #hero {
        height: 42vh!important;
    }
    .carousel-item {
        background-size: 460px 360px!important;
    }
    #hero h2 {
        font-size: 17px;
        text-align: left;
    }
    h2.animate__animated.animate__fadeInDown.d-font-family {
        margin-top: 40px!important;
    }
    a.carousel-control-prev, a.carousel-control-next {
        margin-top: 60px!important;
    }
    .navbar {
        position: fixed!important;
    }
} 
